<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="me-md-3 me-xl-5">
                    <h2>Welcome To DAdmin Panel,</h2>
                    <p class="mb-md-0">Your analytics dashboard template.</p>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">
                <button class="btn btn-primary mt-2 mt-xl-0">Generate report</button>
            </div>
        </div>
    </div>
    @if (_isStatsLoaded)
    {
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 class="pb-3">Recent Tables Activity</h3>
                            <h5>
                                Total Tables: @_stats.TotalTables
                            </h5>
                            <h5>
                                Recent Activity Count: @_stats.RecentActivityCount
                            </h5>
                        </div>
                        <div class="col-md-6">
                            <div class="table-responsive-sm">
                                @if (_stats?.TableRecordCounts != null && _stats.TableRecordCounts.Any())
                                {
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Table Name</th>
                                            <th>Record Count</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var record in _stats.TableRecordCounts)
                                        {
                                            <tr>
                                                <td>@record.Key</td>
                                                <td>@record.Value</td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <p>No table records found.</p>
                                }
                            </div>
                        </div>
                        <div class="col-md-12 pt-5">
                            <canvas id="activityChart" style="height: 100px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                @if (Charts != null && Charts.Any())
                {
                    @foreach (var chartModel in Charts)
                    {
                        <div class="col-md-6">
                            @chartModel.Render()
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>