@namespace DAdmin
@inherits DAdminComponent

<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
        @foreach (var menuItem in MenuItems.Values)
        {
            @if (menuItem.SubItems != null && menuItem.SubItems.Any())
            {
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="@menuItem.IconClass p-2"></i>
                        <span class="menu-title">@menuItem.Name</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse show">
                        <ul class="nav flex-column sub-menu">

                            @foreach (var subItem in menuItem.SubItems)
                            {
                                var isSelected = subItem.Equals(_selectedItemModel);
                                <li class="nav-item @(isSelected ? "active" : "")">
                                    <a href="#" class="nav-link"
                                       @onclick="() => SelectItem(subItem)">
                                        <i class="@menuItem.IconClass " style="padding-right: 5px"></i>
                                        @subItem.Name
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="#" @onclick="() => SelectItem(menuItem)">
                        <i class="@menuItem.IconClass p-1"></i>
                        <span class="menu-title">@menuItem.Name</span>
                    </a>
                </li>
            }
        }
    </ul>
</nav>