@typeparam TEntity
@using System.Reflection

@if (Data != null && Data.Any())
{
    <div class="table-responsive">
        <table class="table mt-5">
            <thead>
            <tr>
                @foreach (var prop in Data.FirstOrDefault().GetPropertiesWithoutRelations().Take(10))
                {
                    var header = prop.Name;
                    <th>@header</th>
                }
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Data)
            {
                <tr>
                    @foreach (var prop in item.GetPropertiesWithoutRelations().Take(10))
                    {
                        <td>@prop.Value</td>
                    }
                    <td>
                        <div class="d-flex">
                            <button class="btn btn-default btn-sm" @onclick="async () => await OnEdit.InvokeAsync(item)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-default btn-sm" @onclick="async () => await OnDelete.InvokeAsync(item)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <ul class="pagination d-flex justify-content-end mt-3">
        <!-- Previous Page Link -->
        <li class="page-item @(CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" @onclick="PreviousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <!-- Page Numbers -->
        @for (int i = 1; i <= TotalPages; i++)
        {
            int localI = i; // Capture variable for use in lambda
            <li class="page-item @(localI == CurrentPage ? "active" : "")">
                <a class="page-link" href="#" @onclick="() => GoToPage(localI)">
                    @localI
                </a>
            </li>
        }

        <!-- Next Page Link -->
        <li class="page-item @(CurrentPage == TotalPages ? "disabled" : "")">
            <a class="page-link" @onclick="NextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
}
else
{
    <h4 class="text-center mt-5 text-black-50">No Data</h4>
}