@using DynamicAdmin.Components.Components.Charts.ViewModels
@typeparam TEntity where TEntity : class

<div class="position-relative">
    <div class="d-flex flex-column align-items-end">
        <h6>@Name</h6>
        <select @onchange="OnTimeIntervalChanged" class="form-control w-25 chartSelect">
            @foreach (var interval in Enum.GetValues(typeof(ChartTimeInterval)))
            {
                if (interval.Equals(TimeInterval))
                {
                    <option selected value="@interval">@interval</option>
                }
                else
                {
                    <option value="@interval">@interval</option>
                }
            }
        </select>
    </div>
    <div class="d-flex justify-content-center">
        <canvas id="@canvasId" style="height: 300px"></canvas>
    </div>
</div>